## Testing with flattened CellMap

In [1]:
import os
import numpy as np
import pandas as pd
import config
from source.utils import loadmat
import starfish as sf

In [2]:
# dir_path = os.path.dirname(os.path.realpath(__file__))
roi = config.DEFAULT['roi']
label_image_path = os.path.join('./', 'demo_data', 'CellMap.mat')
label_image = loadmat(os.path.join(label_image_path))
label_image = label_image["CellMap"]

In [3]:
t = label_image>0
# pd.DataFrame(label_image)

In [4]:
df = pd.DataFrame(label_image).unstack()
df

0     0       0
      1       0
      2       0
      3       0
      4       0
      5       0
      6       0
      7       0
      8       0
      9       0
      10      0
      11      0
      12      0
      13      0
      14      0
      15      0
      16      0
      17      0
      18      0
      19      0
      20      0
      21      0
      22      0
      23      0
      24      0
      25      0
      26      0
      27      0
      28      0
      29      0
             ..
7601  5441    0
      5442    0
      5443    0
      5444    0
      5445    0
      5446    0
      5447    0
      5448    0
      5449    0
      5450    0
      5451    0
      5452    0
      5453    0
      5454    0
      5455    0
      5456    0
      5457    0
      5458    0
      5459    0
      5460    0
      5461    0
      5462    0
      5463    0
      5464    0
      5465    0
      5466    0
      5467    0
      5468    0
      5469    0
      5470    0
Length: 41590542, dtype: uint32

In [5]:
df_2 = df[df>0]
cellmap = df_2.reset_index().rename(columns={'level_0': 'x', 'level_1': 'y', 0: 'parent_cell'})
cellmap.head()

   x    y  parent_cell
0  0  718            1
1  0  719            1
2  0  720            1
3  0  721            1
4  0  722            1

In [6]:
cellmap.x==13001

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
3721882    False
3721883    False
3721884    False
3721885    False
3721886    False
3721887    False
3721888    False
3721889    False
3721890    False
3721891    False
3721892    False
3721893    False
3721894    False
3721895    False
3721896    False
3721897    False
3721898    False
3721899    False
3721900    False
3721901    False
3721902    False
3721903    False
3721904    False
3721905    False
3721906    False
3721907    False
3721908    False
3721909    False
3721910    False
3721911    False
Name: x, Length: 3721912, dtype: bool

In [7]:
saFile = os.path.join('./', 'demo_data', 'spots.csv')

In [8]:
sa_df = pd.read_csv(saFile)
sa_df = sa_df.rename(columns={'xc': 'x', 'yc': 'y', 'zc': 'z', 'Gene': 'target'})
sa = sf.types.SpotAttributes(sa_df)
sa.data['x'] = sa.data.x - 1
sa.data['y'] = sa.data.y - 1
sa.data['x'] = sa.data['x'].astype(int)
sa.data['y'] = sa.data['y'].astype(int)

In [9]:
sa.data['x'] = sa.data['x'] - 6150
sa.data['y'] = sa.data['y'] - 12987

In [10]:
sa.data.head()

   index  target  radius    x     y  z
0      0  Cxcl14     NaN  110    14  0
1      1    Plp1     NaN   -1   736  0
2      2    Plp1     NaN   -1   746  0
3      3     Id2     NaN   -1   993  0
4      4   Enpp2     NaN   -1  1016  0

In [11]:
merged = pd.merge(sa.data, cellmap, on=['x','y'], how='left')
merged.head()

   index  target  radius    x     y  z  parent_cell
0      0  Cxcl14     NaN  110    14  0         51.0
1      1    Plp1     NaN   -1   736  0          NaN
2      2    Plp1     NaN   -1   746  0          NaN
3      3     Id2     NaN   -1   993  0          NaN
4      4   Enpp2     NaN   -1  1016  0          NaN

In [12]:
merged[np.isfinite(merged.parent_cell)]

       index   target  radius     x     y  z  parent_cell
0          0   Cxcl14     NaN   110    14  0         51.0
7          7    Enpp2     NaN     0   730  0          1.0
8          8     Plp1     NaN     0   954  0         10.0
9          9      Id2     NaN     0   987  0          5.0
10        10    Cryab     NaN     0  1000  0          5.0
11        11     Plp1     NaN     0  1020  0          5.0
12        12     Plp1     NaN     1   728  0          1.0
13        13     Plp1     NaN     1   741  0          1.0
14        14     Rgs4     NaN     2   907  0          3.0
15        15    Sulf2     NaN     2  1018  0          5.0
16        16     Plp1     NaN     2  1026  0          5.0
17        17      Id2     NaN     2  1209  0          8.0
18        18     Plp1     NaN     3   963  0          4.0
19        19    Enpp2     NaN     4  1014  0          5.0
20        20    Cryab     NaN     4  1021  0          5.0
21        21  Fam19a1     NaN     4  1218  0          8.0
22        22     Plp1     NaN     4  1254  0          9.0
23        23     Plp1     NaN     4  1272  0          9.0
24        24     Plp1     NaN     5   743  0          1.0
25        25     Plp1     NaN     5   756  0          1.0
26        26     Plp1     NaN     5  1004  0          5.0
27        27     Rorb     NaN     5  1149  0          6.0
28        28      Id2     NaN     5  1177  0          7.0
29        29   Cxcl14     NaN     6   987  0          5.0
30        30     Gad1     NaN     6  1142  0          6.0
31        31      Id2     NaN     6  1187  0          7.0
32        32    Enpp2     NaN     7   749  0          1.0
33        33    Enpp2     NaN     7   968  0          4.0
34        34     Plp1     NaN     7   975  0          4.0
35        35     Plp1     NaN     7  1022  0          5.0
...      ...      ...     ...   ...   ... ..          ...
72302  72302      Npy     NaN  7164  3899  0       3430.0
72303  72303      Npy     NaN  7169  3870  0       3430.0
72304  72304      Npy     NaN  7171  3871  0       3430.0
72305  72305      Npy     NaN  7185  3837  0       3426.0
72307  72307      Npy     NaN  7211  4245  0       3431.0
72308  72308      Npy     NaN  7213  3818  0       3440.0
72309  72309      Npy     NaN  7215  3993  0       3435.0
72310  72310      Npy     NaN  7216  3807  0       3440.0
72311  72311      Npy     NaN  7219  3807  0       3440.0
72312  72312      Npy     NaN  7221  3804  0       3440.0
72313  72313      Npy     NaN  7223  3810  0       3440.0
72314  72314      Npy     NaN  7225  3818  0       3440.0
72315  72315      Npy     NaN  7226  3801  0       3440.0
72316  72316      Npy     NaN  7226  3804  0       3440.0
72317  72317      Npy     NaN  7226  3808  0       3440.0
72318  72318      Npy     NaN  7226  3821  0       3440.0
72319  72319      Npy     NaN  7228  3816  0       3440.0
72320  72320      Npy     NaN  7229  3803  0       3440.0
72321  72321      Npy     NaN  7229  3833  0       3440.0
72322  72322      Npy     NaN  7230  3813  0       3440.0
72323  72323      Npy     NaN  7231  3815  0       3440.0
72324  72324      Npy     NaN  7232  3802  0       3440.0
72325  72325      Npy     NaN  7241  3801  0       3440.0
72326  72326      Npy     NaN  7244  3799  0       3440.0
72327  72327      Npy     NaN  7244  3818  0       3440.0
72328  72328      Npy     NaN  7248  3828  0       3443.0
72329  72329      Npy     NaN  7254  3812  0       3443.0
72330  72330      Npy     NaN  7276  4287  0       3450.0
72331  72331      Npy     NaN  7305  4214  0       3453.0
72334  72334      Npy     NaN  7467  4184  0       3474.0

[44353 rows x 7 columns]

In [13]:
np.isfinite(merged.parent_cell).sum()

44353

In [112]:
from scipy.sparse import coo_matrix
a_row  = np.array([0, 1, 1, 1, 2, 3, 4, 1, 2, 3, 4, 8, 8, 8, 7, 7])
a_col  = np.array([0, 1, 0, 3, 3, 3, 3, 4, 4, 4, 4, 1, 2, 3, 1, 2])
a_data = np.array([3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2])
a = coo_matrix((a_data, (a_row, a_col)), shape=(10, 5)).toarray()


b = coo_matrix((4, 4), dtype=np.int8)

In [113]:
a

array([[3, 0, 0, 0, 0],
       [3, 3, 0, 1, 1],
       [0, 0, 0, 1, 1],
       [0, 0, 0, 1, 1],
       [0, 0, 0, 1, 1],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 2, 2, 0, 0],
       [0, 2, 2, 2, 0],
       [0, 0, 0, 0, 0]])

In [89]:
n = 4000000
my_df = pd.DataFrame({'x':np.arange(n), 'y':np.arange(n), 'val':np.arange(n)});

In [29]:
my_df.shape

(4000000, 3)

In [53]:
a

array([[4, 0, 9, 0],
       [0, 7, 0, 5],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])