In [30]:
import numpy as np
import pandas as pd
import xarray as xr
import random
import time
import os
from pathlib import Path

In [31]:
def fetch_data():
    '''
    reads the raw data
    '''
    dir_path = Path().resolve().as_posix()
    # print(dir_path)
    df = pd.read_json("https://raw.githubusercontent.com/acycliq/issplus/master/dashboard/data/img/default/json/iss.json")
    GeneExp = np.load(dir_path + '/data_preprocessed/GeneExp.npy')
    genes = [line.rstrip("\n''") for line in open(dir_path + '/data_preprocessed/genes.csv')]
    ctc = [line.rstrip("\n''") for line in open(dir_path + '/data_preprocessed/cell_to_class_map.csv')]

    # Rename PC.CA2 to PC.Other1 and PC.CA3 to PC.Other2
    ctc = ['PC.Other1' if x == 'PC.CA2' else x for x in ctc]
    ctc = ['PC.Other2' if x == 'PC.CA3' else x for x in ctc]

    ge = xr.DataArray(GeneExp, coords=[genes, ctc], dims=['Genes', 'Class'])
    return df, ge

In [32]:
def best_class(df):
    '''
    Returns a list with the names of all the optimal/best classes
    '''
    class_name = df['ClassName']
    prob = df['Prob']
    out = [class_name[n][np.argmax(prob[n])] for n in range(class_name.shape[0])]
    return out

In [33]:
def draw_gene_expression(df, ge):
    '''
    Main purpose is to make gene expression 2d arrays of dimension
    num_of_genes by num_of_classes by randomly sampling from the main
    (full) expression matrix (which is of size num_of_genes by num_of_cells)
    '''
    # cell class (unique and ranked alphabetically)
    best_classes = sorted(set(df['best_class']))
    class_list = ge.Class.values.tolist()
    N = len(best_classes)
    M = ge.shape[0]
    out = {'cid': [],
           'Cell_Num': [],
           'X': [],
           'Y': [],
           'class_name': [],
           'gene_name': ge.Genes.values.tolist(),
           'col': [],
           'GeneExp': np.empty([M, N], dtype=np.int32)
           }
    for i in range(N):
        # select a class
        bc = best_classes[i]
#         print(bc)

        # carve out data only relevant to the selected class
        class_df = df[df['best_class'] == bc]

        # randomly select a cell of that specific class
        cid = random.choice(class_df.index)
        temp = class_df.loc[cid]

        # keep the data for that particular cell to a dictionary
        out['cid'].append(cid)
        out['Cell_Num'].append(temp['Cell_Num'])  # This is 1-based, not 0-based
        out['X'].append(temp['X'])
        out['Y'].append(temp['Y'])
        out['class_name'].append(temp['best_class'])
#         start = time.time()
        mask = [i for i in range(len(class_list)) if class_list[i] == bc]
#         print(time.time() - start)
        col = random.choice(mask)
        out['col'].append(col)
        out['GeneExp'][:, i] = ge[:, col]

    return out

In [34]:
def thinner(data):
    '''
    shrink the gene expressions towards zero
    '''
    p = 0.1
    mat = data['GeneExp']
    rnd = np.random.binomial(mat, p)
    data['GeneExp'] = rnd
    return data

In [35]:
def position_genes(data):
    '''
    place the genes on the plane, centered around the corresponding cell center
    where the locations are distributed randomly (and independedly) with st dev r
    '''
    r = 8.8673
    u = np.random.normal(0, r, data['GeneExp'].shape)
    v = np.random.normal(0, r, data['GeneExp'].shape)
    _xCoord = (data["X"]+u)*(data['GeneExp'] > 0)
    _yCoord = (data["Y"]+v)*(data['GeneExp'] > 0)

    xCoord = pd.DataFrame(_xCoord,
                          columns=data['class_name'],
                          index=data['gene_name']
                          )
    yCoord = pd.DataFrame(_yCoord,
                          columns=data['class_name'],
                          index=data['gene_name']
                          )

    # print('in position')
    return xCoord, yCoord

In [36]:
def flatten(df):
    '''
    flattens a dataframe
    '''
    temp = df.unstack()
    values = temp.values
    labels = temp.index.droplevel().values
    out = np.hstack( (labels[:, None], values[:, None]) )
    return out

In [37]:
def xy_pairs(x, y):
    '''
    zips x, y lists to produce the coordinates
    '''

    # check is x and y are aligned
    assert np.all(x[:, 0] == y[:, 0])

    # remove if both are zero
    isZero = (np.array(x[:, 1]) == 0) & (np.array(y[:, 1]) == 0)
    x = x[~isZero, :]
    y = y[~isZero, :]

    # return the gene names and associated coordinates
    _labels = x[:, 0]
    _x = x[:, 1]
    _y = y[:, 1]
    out = np.hstack((_labels[:, None], _x[:, None], _y[:, None]))
    return out

In [38]:
def post_process(df1, df2):
    x = flatten(df1)
    y = flatten(df2)
    out = xy_pairs(x, y)
    return out

In [39]:
if __name__ == "__main__":
    n = 1000 #sample size
    xCoord = []
    yCoord = []

    # Fetch the data
    raw_data, gene_expression = fetch_data()

    # for each cell find its most likely cell class
    bc = best_class(raw_data)

    # stick it at the end of the dataframe
    raw_data['best_class'] = bc

    # remove cells belonging to the Zero class
    nonZero = raw_data['best_class'] != 'Zero'
    raw_data = raw_data[nonZero]

    spots = np.empty((0, 3))
    start = time.time()
    while spots.shape[0] < n:
        sample = draw_gene_expression(raw_data, gene_expression)

        sample = thinner(sample)

        _xCoord, _yCoord = position_genes(sample)
        _spots = post_process(_xCoord, _yCoord)
        spots = np.append(spots, _spots, axis=0)
        xCoord.append(_xCoord)
        yCoord.append(_yCoord)


    print('Done!')
    print('Collected %d spots in %4.2f secs' % (spots.shape[0], time.time()-start))

Done!
Collected 1131 spots in 0.36 secs

In [40]:
xCoord[0].shape

(92, 59)

In [41]:
xCoord[0].head()

,Astro.1,Astro.2,Astro.3,Astro.4,Astro.5,Cacna2d1.Lhx6.Reln,Cacna2d1.Lhx6.Vwa5a,Cacna2d1.Ndnf.Cxcl14,Cacna2d1.Ndnf.Npy,Cacna2d1.Ndnf.Rgs10,...,Sst.Erbb4.Crh,Sst.Erbb4.Rgs10,Sst.Npy.Cort,Sst.Npy.Mgat4c,Sst.Npy.Serpine2,Sst.Npy.Zbtb20,Sst.Pnoc.Calb1.Igfbp5,Sst.Pnoc.Calb1.Pvalb,Sst.Pnoc.Pvalb,Vip.Crh.C1ql1
3110035E14Rik,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.000000
6330403K07Rik,0.000000,0.000000,10731.328083,0.000000,0.000000,0.0,0.0,8213.668012,13170.666865,7534.356302,...,12990.509679,0.0,0.0,12815.548035,0.0,0.0,12505.13592,0.0,7201.691108,9335.990773
Adgrl2,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.000000
Aldoc,8978.452366,8906.500491,10745.097497,8027.207913,9567.798598,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.000000
Arpp21,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.000000

In [42]:
yCoord[0].head()

,Astro.1,Astro.2,Astro.3,Astro.4,Astro.5,Cacna2d1.Lhx6.Reln,Cacna2d1.Lhx6.Vwa5a,Cacna2d1.Ndnf.Cxcl14,Cacna2d1.Ndnf.Npy,Cacna2d1.Ndnf.Rgs10,...,Sst.Erbb4.Crh,Sst.Erbb4.Rgs10,Sst.Npy.Cort,Sst.Npy.Mgat4c,Sst.Npy.Serpine2,Sst.Npy.Zbtb20,Sst.Pnoc.Calb1.Igfbp5,Sst.Pnoc.Calb1.Pvalb,Sst.Pnoc.Pvalb,Vip.Crh.C1ql1
3110035E14Rik,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.00000,0.000000
6330403K07Rik,0.000000,0.000000,16486.381289,0.000000,0.00000,0.0,0.0,15202.737555,16363.692852,16529.551243,...,17093.714118,0.0,0.0,17305.856641,0.0,0.0,17601.059656,0.0,16132.97965,16672.782718
Adgrl2,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.00000,0.000000
Aldoc,15803.655285,15659.479598,16501.209999,16276.849816,16260.02006,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.00000,0.000000
Arpp21,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.00000,0.000000

In [43]:
sample['GeneExp'].shape

(92, 59)

In [44]:
spots

array([['Aldoc', 8978.452366004552, 15803.655284560735],
       ['Cxcl14', 8974.81135170951, 15800.388001410503],
       ['Rab3c', 9001.32906435087, 15813.86206900501],
       ...,
       ['Nrsn1', 9325.212419137895, 16687.056238096215],
       ['Synpr', 9346.76967297831, 16673.39835347769],
       ['Vip', 9318.71418625564, 16676.810313268485]], dtype=object)